<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Service Project Categories:</p>

    <ul>
        <% categories.forEach(category => { %>

            <li>
                <a href="/category/<%= category.category_id %>">
                    <%= category.name %>
                </a>
            </li>

        <% }) %>
    </ul>
    <% if (user && user.role_name === 'admin') { %>
        <ul>
            <li>
                <p>
                    <a class="btn" href="/new-category">+ Add New Category</a>
                </p>
            </li>
        </ul>
     <% } %>
</main>

<%- include('partials/footer') %>