<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Dashboard</h2>
    <p>Name: <%= name %></p>
    <p>Username: <%= email %></p>

    <% if (user && user.role_name === 'admin') { %>
        <ul>
            <li>
                <a class="btn" href="/users" class="btn">Manage Users</a>
            </li>
        </ul>
    <% } %>

    <h2>Your Volunteer Projects</h2>

    <% if (projects.length === 0) { %>
        <p>You are not volunteering for any projects yet.</p>
    <% } %>
    
    <ul>
        <% projects.forEach(p => { %>
            <li>
                <%= p.title %>

                <form action="/project/<%= p.project_id %>/unvolunteer" method="POST">
                    <button type="submit">Remove</button>
                </form>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>