<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are some of our service projects:</p>

    <ul>
        <% projects.forEach(project => { %>

            <li>
                <%= new Date(project.date).toLocaleDateString() %>:
                <%= project.title %>
                (<%= project.organization_name %>)
            </li>

        <% }) %>
    </ul>

</main>

<%- include('partials/footer') %>